body {
    
}

/*Add padding to 2nd row of portfolio.html*/
.secondRow {
    padding-top: 20px;
}

h2 {
    font-size: medium;
    font-weight: bold;
}
 
/*class created to customize cards*/
.customCard {
    width: 18rem;
}



/* bootstrap breakpoint - anything larger will not follow rule*/
@media screen and (max-width: 992px) {

    .description {
        padding-left: 55px;
    }

    .customCard {
        width: 15rem;
    }
    
}


/* bootstrap breakpoint - anything larger will not follow rule*/
@media screen and (max-width: 768px) {
    /*add padding to text on index.html*/
    .description {
        padding-top: 20px;
        padding-left: 15px;
    }

    .customCard {
        width: 18rem;
    }

}


/* bootstrap breakpoint - anything larger will not follow rule*/
@media screen and (max-width: 480px) {

}

